SUBSYSTEM=="usb",ENV{ID_VENDOR_ID}=="165c",ENV{ID_MODEL_ID}=="0009",RUN="/bin/sh -c 'modprobe ftdi-sio; echo 165c 0009 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"
SUBSYSTEM=="tty",ENV{ID_VENDOR_ID}=="165c",ENV{ID_MODEL_ID}=="0009",MODE="0666"
